<!DOCTYPE html>

<html>
<head>
    <!-- Website Title & for Search Engine purposes -->
    <title>Children's profiles</title>

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--<script src="collections/collections.min.js">-->
    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

    <!-- Ajax -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" ></script>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Include Modernizr in the head, before any other Javascript -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
</head>

<!--<body background="https://media.wired.com/photos/59371d19ca941e4d0cb7ce7f/master/w_1200,c_limit/ap_insideout_ff1.jpg" style="background-repeat: no-repeat"> -->

<body>
    <div class="container-fluid">
        <div>
            <%include partials/header.ejs%>
        </div>

        <button type="button" id="addProfile" href="#" class="btn btn-success btn-lg" role="button" data-toggle="modal" data-target="#registerModal">Nuovo utente</button>

    <div class="row" id="users">
    <% users.forEach(function(elem){%>
        <div class="col-md-3">
            <div class="thumbnail">
                <img width="150px" src="/profiles/image?id=<%= elem.image%>" class="img-responsive">
                <div class="caption">
                    <h3 id="<%= elem._id%>"><%= elem.name %></h3>
                        <div class="btn-toolbar">
                            <a id="enter" child="<%= elem._id%>" class="btn btn-primary" role="button" id="prof"> VISUALIZZA </a>
                            <a href="#" id="delete" child="<%= elem._id%>" class="btn btn-default btn-danger" role="button">ELIMINA</a>
                        </div>

                </div>
            </div>
        </div>
        <%})%>
    </div>


        <!-- BEGIN # MODAL INSERT -->
        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" align="center" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" align="center">
                        <img class="img-circle" id="img_logo" src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_user-512.png">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>


                            <div class="modal-body" id="register-form">
                                <div id="div-login-msg">
                                    <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                    <span id="text-login-msg">Crea un nuovo profilo</span>
                                </div>
                                <form class="uploadProfile" ref="form" encType="multipart/form-data" action="/profiles/insert" method="POST">
                                    <input id="name" class="form-control" type="text" placeholder="Nome" required>
                                    <input id="surname" class="form-control" type="text" placeholder="Cognome" required>
                                    <input id="age" class="form-control" type="Number" placeholder="Età" required>
                                    <input id="disabilityDescription" class="form-control" type="text" placeholder="Descrizione disabilità" >
                                    <input id="notes" class="form-control" type="text" placeholder="Note aggiungtive" >
                                    <input type="file" id="inputFile" name="file">
                                    <input type="submit" name="submit" value="Submit">
                                </form>
                            </div>

                            <!--<div class="modal-footer">
                                <div>
                                    <button id="submit" type="submit" data-dismiss="modal" class="btn btn-primary btn-lg btn-block">Conferma</button>
                                </div>
                            </div>-->



                </div>
            </div>
        </div>
        <!-- END # MODAL LOGIN -->


        <div>
        <%include partials/footer.ejs%>
        </div>

        <script>

        $("document").ready(
            function(){

            var btn = document.getElementById("submit");
            var name = document.getElementById("name");
            var surname = document.getElementById("surname");
            var age = document.getElementById("age");
            var disabilityDescription = document.getElementById("disabilityDescription");
            var notes = document.getElementById("notes");
            var elements = document.querySelectorAll('a[id="delete"]');
            var enters = document.querySelectorAll('a[id="enter"]');

            $('.uploadProfile').submit(function(e){
                e.preventDefault();

                $(this).ajaxSubmit({
                    data: {
                        name: name.value,
                        surname: surname.value,
                        age: age.value,
                        disabilityDescription: disabilityDescription.value,
                        notes: notes.value
                    },
                    contentType: 'application/json',
                    success: function(response){
                        console.log('image uploaded and form submitted');
                        location.href="/profiles"
                    }
                });
                return false;
            });

            elements.forEach(function(elem){
                elem.onclick = function(elem){
                   var id = elem.target.getAttribute("child");
                    $.post("http://localhost:3000/profiles/delete", {
                        id: id
                    }).then(function(){
                        location.href="/profiles";
                    });

                };
            });

            enters.forEach(function(elem){
                elem.onclick= function(elem){
                    location.href="/profiles/user?id="+elem.target.getAttribute("child");
                    //$.get("http://localhost:3000/user?id="+elem.target.getAttribute("child"));
                }
            });

        });

        </script>

    </div>
</body>
</html>