<!DOCTYPE html>
<html>
<head>

    <!-- Website Title & Description for Search Engine purposes -->
    <title>Session</title>
    <meta name="description" content="">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Include Modernizr in the head, before any other Javascript -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->

</head>
<body>


<div class="container">

    <div>
        <%include partials/header.ejs%>
    </div>

    <div class="row top-video-row">
        <% data.forEach(function(elem, index){ %>
            <div class="col-xs-5" id="MyImage">
                <img id="theImage" src="/video/thumbnail?filename=<%= elem.filename.thumbnail%>" class="img-responsive">
                <a class="preview" id="myButton" type="button" video = "<%= elem.filename.video%>" modalbutton = "true">
                    <span class="video-link-icon"><i class="glyphicon glyphicon-play"></i></span>
                </a>
            </div>
            <div class="col-xs-1">
                <div class="form-group radio-button-video">
                    <input name="opt-video" emotion = "<%= elem.emotion %>" type="radio" id="radio-<%= elem.right %>-<%= index %>">
                </div>
            </div>
        <% }); %>
    </div>

    <div class="row top-video-row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-success btn-lg" id="submit">Submit</button>
        </div>
    </div>

</div>

<!-- MODAL -->
<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video controls autoplay id="videotoshow" class="embed-responsive-item" src=""></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%include partials/footer.ejs%>


<!-- SweetAlert -->
<script src="scripts/sweetalert.min.js"></script>

<!-- The SDK has a dependency on requirejs (http://requirejs.org/). -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js"></script>

<!-- First try for the online version of jQuery-->
<script src="http://code.jquery.com/jquery.js"></script>

<!-- If no online access, fallback to our hardcoded version of jQuery -->
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

<!-- Bootstrap JS -->
<script src="/js/bootstrap.min.js"></script>

<!-- AutoResize -->
<script src="javascripts/autoResize-textArea.js"></script>

<script>
    $(function(){
        $('.normal').autosize();
        $('.animated').autosize({append: "\n"});
    });
</script>

<!-- Custom JS -->

<script>
    document.addEventListener("DOMContentLoaded", function(){


        var btn = document.getElementById("submit");
        var modalsBtn = document.querySelectorAll('[modalbutton="true"]');
        var attempts = 0;
       /* var pattern = '"',
            re = new RegExp(pattern, "g");
        var user = localStorage.getItem("user").replace(re, '');*/
        modalsBtn.forEach(function(elem){
           elem.onclick = function(event){
               var video = document.getElementById("videotoshow");
               var src = "/video?filename=" + event.target.parentElement.getAttribute('video');
               video.src = src;
               $('#modal-video').modal('show')
           };
        });
        btn.addEventListener("click", function(event){
            var elements = document.querySelectorAll('input[id^="radio-"]:checked');
            if(elements.length==0){
                swal("Attenzione!", "Devi selezionare un video per rispondere!", "warning");
            }
            else{
                var id= elements[0].id;
                var res = id.split("-");
                if(res[1]=="true"){
                    attempts++;
                    var date = new Date();
                    var dateJSON = {
                        'minute' : date.getMinutes(),
                        'hour' : date.getHours(),
                        'day' : date.getDate(),
                        'month': date.getMonth(),
                        'year' : date.getFullYear()
                    };
                    var emotion = $('input[id^="radio-true-"]')[0].getAttribute("emotion");
                    var choices = modalsBtn.length;

                    var param = {
                        'date' : dateJSON,
                        'points' : choices/attempts,
                        'emotion' : emotion,
                        'choices' : choices,
                    };
                    
                    swal("Complimenti!", "Risposta corretta!", "success")
                        .then(function(){
                            location.href="/profiles"
                        });
                    //localStorage.removeItem("user");
                }
                else{
                    attempts++;
                    swal("Risposta sbagliata!", "Prova di nuovo!", "error");
                }
            }

        });
    });
</script>


</body>
</html>
