<!DOCTYPE html>

<html>
<head>
    <!-- Website Title & Description for Search Engine purposes -->
    <title>Child's profile</title>

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--<script src="collections/collections.min.js">-->
    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" ></script>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
    </style>

    <!-- Include Modernizr in the head, before any other Javascript -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
</head>
<body>

    <div class="container">
        <div>
            <%include partials/header.ejs%>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row vertical-align">
            <div class="col-sm-3"></div>
            <div class="col-sm-7" align="center" id="utente" ><%= user.name %> <%= user.surname %></div>
            <div class="col-sm-2">
                <a href="/users" class="pull-right">
                    <img title="profile image" class="img-circle img-responsive" src="/profiles/image?id=<%= user.image %>"></a>
            </div>
    </div>

        <div class="col-sm-3">
            <div class="row"><!--left col-->
                <ul class="list-group">
                    <li class="list-group-item text-muted">Profilo utente
                        <td><button type="button" data-toggle="modal"  data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm pull-right"><span class="glyphicon glyphicon-pencil"></span></button></td>

                    </li>
                    <div id="userinfo">
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Nome</strong></span> <%= user.name %></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Cognome</strong></span> <%= user.surname %></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Età</strong></span> <%= user.age %></li>
                        <li class="list-group-item"><span class="pull-left"><strong>Descrizione disabilità</strong></span> <br> <%= user.disabilityDescription %> </li>
                        <li class="list-group-item"><span class="pull-left"><strong>Note aggiuntive</strong></span> <br> <%= user.notes %> </li>
                    </div>
                </ul>
                <a class="btn btn-primary" id="newsession" child="<%= user._id%>" role="button"> NUOVA SESSIONE </a>
                <form id="print">
                    <input type="button"  class="btn btn-info"  name="Submit" value="STAMPA" onclick="window.print()">
                </form>
            </div><!--/col-3-->
        </div>

        <div class="col-sm-9" style="padding-left: 5vh">
            <div class="row">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href=#sessioni data-toggle="tab"><font color="black">Sessioni di <%= user.name %></font></a></li>
                    <li><a href="#modifica" data-toggle="tab"><font color="black">Appunti</font></a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="sessioni">
                        <div class="table-responsive">
                            <table class="table" bgcolor="white" id="sessionsTable">
                                <thead id="tableHead">
                                <tr>
                                    <th>Data</th>
                                    <th>Punteggio ottenuto</th>
                                    <th>Emozione dominante</th>
                                    <th>Scelte disponibili</th>
                                </tr>
                                </thead>

                                <tbody id="tableBody">

                                <% session.forEach(function(elem){%>
                                <tr>
                                    <td><%= elem.date %></td>
                                    <td><%= elem.score %></td>
                                    <td><%= elem.dominantEmotion %></td>
                                    <td><%= elem.choices %></td>
                                </tr>
                                <%})%>


                                <div id="edit" class="modal fade" role="dialog" align="center" style="padding-top: 200px">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" style="color: darkred" data-dismiss="modal">×</button>
                                                <h4 class="modal-title" align="center"><strong>Modifica profilo utente</strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                <input id="nome" type="text" class="form-control" name="fname" placeholder="Nome">
                                                <input id="cognome" type="text" class="form-control" name="fname" placeholder="Cognome">
                                                <input id="anni" type="text" class="form-control" name="fname" placeholder="Età">
                                                <input id="disabilita" type="text" class="form-control" name="fname" placeholder="Descrizione Disabilità">
                                                <input id="note" type="text" class="form-control" name="fname" placeholder="Note aggiuntive">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="up" class="btn btn-success" data-dismiss="modal">Aggiorna</button>
                                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Chiudi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                </tbody>
                            </table>
                        </div><!--/table-resp-->
                    </div><!--/tab-pane-->

                    <div class="tab-pane" id="modifica">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Note</th>
                                    <td><button type="button" data-toggle="modal"  data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>

                                </tr>
                                </thead>

                                <tbody id="items">

                                <% note.forEach(function(elem){%>

                                <tr>
                                    <td><%= elem.date %></td>
                                    <td><%= elem.notes %></td>
                                </tr>
                                <%})%>

                                </tbody>





                            </table>
                        </div>
                    </div><!--/tab-pane-->

                </div><!--/tab-content-->

            </div><!--/col-9-->
            <div class="row" id="chart" style="background-color: white">
                <canvas id="myChart2" ></canvas>
            </div>

            <script>
                var ctx = document.getElementById("myChart2");
                var sessions= <%- JSON.stringify(session)%>;
                var score = [];
                var date = [];
                sessions.forEach(function(session){
                    score.push(session.score);
                    date.push(session.date);
                });

                //grafico progressi
                new Chart(ctx, {
                    type: 'line',
                    data: {

                        labels: date,

                        datasets: [
                            {
                                label: "Punteggio",

                                data: score,

                                borderColor: ['rgba(39, 57, 194, 1)']
                            },

                        ]
                    },
                    options: {
                        elements: {
                            line:{
                                tension:0
                            }
                        },

                        legend: {
                            labels : {
                                useLineStyle: true
                            }
                        }
                    }
                })


                $("document").ready(
                    function() {

                        var newsession = document.getElementById("newsession");
                        var nome = document.getElementById("nome");
                        var cognome = document.getElementById("cognome");
                        var anni = document.getElementById("anni");
                        var note = document.getElementById("note");
                        var disabilita = document.getElementById("disabilita");
                        var submit = document.getElementById("up");


                        //nuova sessione
                        newsession.onclick = function (elem) {
                            location.href = "/session1?id=" + elem.target.getAttribute("child");
                        }

                        //modifica profilo
                        submit.onclick = function(elem){
                            var info = document.getElementById("userinfo").children;
                            var data = {
                                name: (nome.value=="" ? info[0].innerText.split(" ")[1] : nome.value) ,
                                surname: (cognome.value=="" ? info[1].innerText.split(" ")[1] : cognome.value),
                                age: (anni.value=="" ? info[2].innerText.split(" ")[1] : anni.value),
                                disabilityDescription: (disabilita.value=="" ? info[3].innerText.slice(22)[1] : disabilita.value),
                                notes: (note.value=="" ? info[4].innerText.slice(16)[1] : note.value),
                                id: newsession.getAttribute("child")
                            };

                            $.ajax({
                                type: 'POST',
                                data: JSON.stringify(data),
                                contentType: 'application/json',
                                url: 'http://localhost:3000/profiles/update',
                                success: function(data) {
                                    location.href="/user?id=" + newsession.getAttribute("child");
                                }
                            });

                        }



                        return false;
                    })

            </script>

        </div>
        </div>

</body>