<!DOCTYPE html>

<html>
<head>
    <!-- Website Title & Description for Search Engine purposes -->
    <title>Child's profile</title>

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--<script src="collections/collections.min.js">-->
    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" ></script>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
    </style>

    <!-- Include Modernizr in the head, before any other Javascript -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
</head>
<body>

    <div class="container">
        <div>
            <%include partials/header.ejs%>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7" align="center" id="utente" ><%= user.name %> <%= user.surname %></div>
        <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="/profiles/image?id=<%= user.image %>"></a>
    </div>

    <div class="row top-buffer">

        <div class="col-sm-3"><!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted">Profilo utente</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Nome</strong></span> <%= user.name %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Cognome</strong></span> <%= user.surname %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Età</strong></span> <%= user.age %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Descrizione disabilità</strong></span> <%= user.disabilityDescription %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Note aggiuntive</strong></span> <%= user.notes %></li>
            </ul>
            <a id="newsession" class="btn btn-primary" child="<%= user._id%>" role="button"> NUOVA SESSIONE </a>
        </div><!--/col-3-->

        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href=#sessioni data-toggle="tab"><font color="black">Sessioni di <%= user.name %></font></a></li>
                <li><a href="#modifica" data-toggle="tab"><font color="black">Modifica profilo</font></a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="sessioni">
                    <div class="table-responsive">
                        <table class="table" bgcolor="white">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Punteggio ottenuto</th>
                                    <th>Emozione dominante</th>
                                    <th>Scelte disponibili</th>
                                </tr>
                            </thead>

                            <tbody>

                            <% session.forEach(function(elem){%>
                                <tr>
                                    <td><%= elem.date %></td>
                                    <td><%= elem.score %></td>
                                    <td><%= elem.dominantEmotion %></td>
                                    <td><%= elem.choices %></td>
                                </tr>
                            <%})%>

                            </tbody>
                        </table>
                    </div><!--/table-resp-->
                </div><!--/tab-pane-->

                <div class="tab-pane" id="modifica">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Servizio</th>
                                    <th>Modifica</th>
                                </tr>
                            </thead>

                            <tbody id="items">
                                <tr>
                                    <td>10.05.2017</td>
                                    <td>MASSAGGIO schiena</td>
                                    <td><button type="button" data-toggle="modal"  data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/tab-pane-->

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


    <!--GRAFICO PROGRESSI-->

    <div class="row" >
        <div class="col-sm-3"></div>

        <div class="col-sm-9" id="chart" style="background-color: white">
            <canvas id="myChart2" ></canvas>
        </div>

        <script>
            var ctx = document.getElementById("myChart2");
            var sessions= <%- JSON.stringify(session) %>;
            var score = [];
            var date = [];
            sessions.forEach(function(session){
                score.push(session.score);
                date.push(session.date);
            });
            new Chart(ctx, {
                type: 'line',
                data: {

                    labels: date,

                    datasets: [
                        {
                            label: "Punteggio",

                            data: score,

                            borderColor: ['rgba(39, 57, 194, 1)']
                        },

                    ]
                },
                options: {
                    elements: {
                        line:{
                            tension:0
                        }
                    },

                    legend: {
                        labels : {
                            useLineStyle: true
                        }
                    }
                }
            })

            $("document").ready(
                function(){
                    var newsession = document.getElementById("newsession");
                    newsession.onclick= function(elem) {
                         location.href = "/session1?id=" + elem.target.getAttribute("child");
            }
                })
        </script>
    </div>
    </div>

</body>