<!DOCTYPE html>

<html>
<head>
    <!-- Website Title & Description for Search Engine purposes -->
    <title>Child's profile</title>

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--<script src="collections/collections.min.js">-->
    <!-- First try for the online version of jQuery-->
    <script src="http://code.jquery.com/jquery.js"></script>

    <!-- If no online access, fallback to our hardcoded version of jQuery -->
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js" ></script>

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <!-- Include Modernizr in the head, before any other Javascript -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
    <!-- <script src="includes/js/modernizr-2.6.2.min.js"></script> -->
</head>

<body>

    <div class="container">
        <div>
            <%include partials/header.ejs%>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" align="center" ><h1><%= user.name %> <%= user.surname %></h1></div>
        <!--<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src=""></a>-->
    </div>

    <div class="row top-buffer">

        <div class="col-sm-3"><!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted">Profilo utente</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Nome</strong></span> <%= user.name %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Cognome</strong></span> <%= user.surname %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Età</strong></span> <%= user.age %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Descrizione disabilità</strong></span> <%= user.disabilityDescription %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Note aggiuntive</strong></span> <%= user.notes %></li>
            </ul>
        </div><!--/col-3-->

        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href=#sessioni data-toggle="tab"><font color="black">Sessioni di <%= user.name %></font></a></li>
                <li><a href="#modifica" data-toggle="tab"><font color="black">Modifica profilo</font></a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="sessioni">
                    <div class="table-responsive">
                        <table class="table" bgcolor="white">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Punteggio ottenuto</th>
                                    <th>Emozione dominante</th>
                                    <th>Scelte disponibili</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>10.12.2017</td>
                                    <td>4</td>
                                    <td>Gioia</td>
                                    <td>3</td>
                                </tr>

                                <tr>
                                    <td>15.12.2017</td>
                                    <td>7</td>
                                    <td>Rabbia</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>15.12.2017</td>
                                    <td>7</td>
                                    <td>Rabbia</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>15.12.2017</td>
                                    <td>7</td>
                                    <td>Rabbia</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>15.12.2017</td>
                                    <td>7</td>
                                    <td>Rabbia</td>
                                    <td>5</td>
                                </tr>

                            </tbody>
                        </table>
                    </div><!--/table-resp-->
                </div><!--/tab-pane-->

                <div class="tab-pane" id="modifica">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Servizio</th>
                                    <th>Modifica</th>
                                </tr>
                            </thead>

                            <tbody id="items">
                                <tr>
                                    <td>10.05.2017</td>
                                    <td>MASSAGGIO schiena</td>
                                    <td><button type="button" data-toggle="modal" data-target="#edit" data-uid="1" class="update btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--/tab-pane-->

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


    <!--GRAFICO PROGRESSI-->

    <div class="row">
        <div class="col-sm-3"></div>

        <div class="col-sm-9" id="chart">
            <canvas id="myChart2" ></canvas>
        </div>

        <script>
            var ctx = document.getElementById("myChart2");
            var score= [5, 1, 4, 3, 0];
            new Chart(ctx, {
                type: 'line',
                data: {

                    labels: [score[0],
                        score[1],
                        score[2],
                        score[3],
                        score[4]],

                    datasets: [
                        {
                            label: "Punteggio",

                            data: [score[0],
                                score[1],
                                score[2],
                                score[3],
                                score[4]],

                            borderColor: ['rgba(39, 57, 194, 1)']
                        },

                    ]
                },
                options: {
                    elements: {
                        line:{
                            tension:0
                        }
                    },

                    legend: {
                        labels : {
                            useLineStyle: true
                        }
                    }
                }
            })
        </script>
    </div>


</body>